.product__details {
  margin-top: 70px;
}

.product__img {
  width: 400px;
}

.related__products {
  width: 250px;
}

.product__details h2 {
  font-style: 1.6rem;
  margin-bottom: 10px;
}

.related__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 5px;
}

@media only screen and (max-width: 768px) {
  .product__details h2 {
    font-size: 1.3rem;
  }
}
